/* FEATURES SECTION */

.features-heading {
    display: flex;
  }
  .features-heading h2 {
    font-size: 12px;
    width: 40%;
    margin-right: 2px;
  }
  .line {
    align-self: center;
    width: 100%;
    background-color: black;
    height: 1px;
  }
  .features-news {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-decoration: none;
    color: #000;
  }
  .features-news a {
    color: #000;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 600px) {
    .features-heading {
      margin-bottom: 2%;
    }
    .features-heading h2 {
      width: 30%;
    }
    .features-articles-box {
      display: flex;
      justify-content: space-between;
    }
    .features-articles-box li {
      width: 33%;
      margin-right: 2%;
    }
    .features-articles-box li:nth-last-of-type(3n) {
      margin-right: 0;
    }
    .features-news h3 {
      font-size: 10px;
    }
    .to-hdd {
      display: none;
    }
    .news-h {
      display: none;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 990px) {
    .features-heading {
      margin-bottom: 3%;
    }
    .features-heading h2 {
      font-size: 18px;
      width: 45%;
    }
    .features-articles-box {
      display: flex;
      flex-wrap: wrap;
    }
    .features-articles-box li {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 2%;
    }
    .features-articles-box li:nth-of-type(3n) {
      margin-right: 0;
    }
    .features-news h3 {
      margin-bottom: 3%;
    }
  }
  @media screen and (min-width: 991px) {
    .features-heading {
      width: 100%;
      margin-top: 3%;
      margin-bottom: 1%;
    }
    .features-heading h2 {
      width: 23%;
      font-size: 1.1em;
    }
    .features-articles-box {
      list-style: none;
      justify-content: space-between;
      display: flex;
    }
    .features-articles-box li {
      margin-right: 2%;
    }
    .features-articles-box li:last-of-type {
      margin-right: 0;
    }
    .features-news h3 {
      font-size: 16px;
      margin-bottom: 3%;
    }
  }
  